<!DOCTYPE html>
<html>
	<head>
		<title>ROPY</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Oi&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/static/style.css">
	</head>
	<body>
		<h1>roby</h1>
		<div id="endpoints"></div>
		<div id="response-container" class="hidden">
			<div id="response">
				
			</div>
		</div>
		<script src="/static/index.js"></script>
	</body>
</html>